bcrypt==5.0.0
blinker==1.9.0
cachelib==0.13.0
click==8.3.0
colorama==0.4.6
Flask==3.1.2
flask-cors==6.0.1
Flask-MySQLdb==2.0.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
login==0.0.6
MarkupSafe==3.0.3
msgspec==0.19.0
mysqlclient==2.2.7
packaging==25.0
PyMySQL==1.1.2
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==3.1.3
