<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>ECOBIO | Registro</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body class="auth-page">


    <div class="login-box">
        <h2> Registro ecobio </h2>

        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="email" name="correo" placeholder="Correo" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Crear cuenta</button>
        </form>

        <p style="text-align:center; margin-top:15px;">
            ¿Ya tienes cuenta?
            <a href="{{ url_for('login') }}">Volver al login</a>
        </p>
    </div>

</body>

</html>